
body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 100px;
    padding-right: 100px;
}

header {
    height: 200px;
    background-color: white;
}

header a img {
    height: 100px;
    display: block;
    margin: auto;
    padding: 50px;
}



h2 {
    color: maroon;
}

#wrapper {
    min-width: 400px;
    max-width: 2048px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

nav {
    background-color: black;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-weight: bold;

}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:link {
    color: white;
}

nav a:visited {
    color: #d6d6d6;
}

nav a:hover, a:active {
    color: maroon;
    text-decoration: line-through;
}

#homehero {
    height: 500px;
    background-image: url(images/tattoo-3268988_1280.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#abouthero {
    height: 500px;
    background-image: url(images/allef-vinicius-hxNiXP498UI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#contacthero {
    height: 500px;
    background-image: url(images/drink-drippy-gY7KE8-wKQU-unsplash.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}


#aftercarehero {
    height: 500px;
    background-image: url(images/benjamin-lehman-5t4qCgtaLGU-unsplash.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

main {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
    overflow: auto;
}

section {
    float: left;
    width: 40%;
    height: 500px;
    padding-left: 2em;
    padding-right: 1em;
}

#intro {
    float: left;
    width: 40%;
    height: 300px;
}

footer {
    font-size: .70em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}

table {
    margin: auto;
    width: 90%;
    border: 1px solid maroon;
    border-collapse: collapse;
    margin-bottom: 30px;
}

td, th {
    padding: 5px;
    border: 1px solid maroon;
}

td {
    text-align: center;
}

.text {
    text-align: left;
}

tr:nth-of-type(even) {
    background-color: #f8dfdf;
}


form {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 80%;
}

input, textarea {
    margin-bottom: 0.5em;
}